* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  overflow-x: hidden;
  min-height: 100vh; }

.footer {
  background-color: #18181B;
  padding: 1em; }
  .footer .footer__titulo {
    color: whitesmoke;
    margin-left: 1em; }
  .footer .footer__titulo__redes {
    color: whitesmoke;
    margin-left: 0.5em; }
  .footer .footer__img {
    margin-left: 0.7em; }
  .footer .footer__texto {
    color: white; }
  .footer .footer__lista__enlace {
    color: white; }
  .footer .footer__copyright {
    color: whitesmoke;
    background: rgba(0, 0, 0, 0.2); }

/*------------------------grid__flexbox__layout--------------------------*/
.header {
  grid-area: auto; }
  .header .header__lista__flexbox {
    display: flex;
    justify-content: end; }

.main {
  grid-area: auto;
  background-color: #3F79C4; }

.productos__membresia__img {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px; }

.footer {
  grid-area: auto; }
  .footer .footer__flexbox {
    display: flex;
    justify-content: space-around; }
  .footer .footer__copyright__flexbox {
    display: flex;
    justify-content: center; }

/*--------------acercade__pages---------------*/
.acercade__flexbox {
  display: flex;
  justify-content: center; }

/*--------------membresia__pages---------------*/
.pages__membresia__flexbox {
  display: flex;
  justify-content: center; }

/*--------------productos__pages---------------*/
.productos__flexbox__televisoresordenadores {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }

.productos__flexbox__movilesconsolas {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap; }

/*----------------------------------------GRID__CONTAINER-------------------------------------*/
.grid__container {
  display: grid;
  grid-template-areas: "header"
 "navbar"
 "main"
 "footer"; }

/*-------------------------------------------HEADER-------------------------------------------*/
.header {
  background-color: #18181B; }
  .header .header__titulo {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 18px;
    margin-left: 30px;
    font-weight: 600;
    padding-top: 0.5em; }

#hero__titulo__enlace {
  text-decoration: none; }

/*--------------------------------------------MAIN-------------------------------------------*/
/*-------------------------index.html--------------------------*/
.hero__video {
  width: 100%;
  height: 25em; }
  .hero__video .hero__texto {
    color: black;
    font-weight: 500;
    text-indent: 2%;
    font-style: normal;
    font-size: xx-large;
    text-align: justify;
    margin-left: 55px;
    margin-right: 55px;
    margin-bottom: 55px;
    margin-top: 15px;
    font-size: 1.2em; }

/*---productos y membresia---*/
.productos__membresia {
  color: black;
  font-weight: 500;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.6em;
  margin-left: 8em; }
  .productos__membresia .productos__titulo__index {
    color: black;
    padding: 10px;
    margin-top: 5px;
    font-size: 1.4em; }
  .productos__membresia .productos__ventas {
    color: black;
    margin: 20px;
    font-size: 1.2em; }
  .productos__membresia .productos__aviso {
    color: #1E1C1D;
    font-style: italic;
    font-size: small;
    margin-left: 20px;
    font-size: 1em; }
  .productos__membresia .productos__index__img {
    width: 100%;
    background-image: radial-gradient(#29515b, #0e345b);
    margin: 10px;
    margin-bottom: 2.3em; }
  .productos__membresia .membresia__titulo__index {
    color: black;
    padding: 10px;
    margin-top: 5px;
    font-size: 1.4em; }
  .productos__membresia .membresia__ventas {
    color: black;
    margin: 20px;
    font-size: 1.2em; }
  .productos__membresia .membresia__aviso {
    color: #1E1C1D;
    font-style: italic;
    font-size: small;
    margin-left: 20px;
    font-size: 1em; }
  .productos__membresia .membresia__index__img {
    width: 100%;
    background-image: radial-gradient(#29515b, #0e345b);
    margin: 10px;
    margin-bottom: 2.3em; }

/*------------------------acercade.html--------------------------*/
.acercade__titulo {
  color: black;
  font-weight: 500;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.6em;
  margin-top: 0.5em;
  margin-left: 10em; }
  .acercade__titulo .acercade__texto {
    color: black;
    font-style: normal;
    font-size: xx-large;
    text-align: justify;
    text-indent: 2%;
    font-size: 1.2em;
    margin-top: 1.5em;
    margin-left: 1em; }
  .acercade__titulo .acercade__img {
    background-image: radial-gradient(#29515b, #0e345b);
    margin: 1em;
    height: 20em;
    width: 20em;
    margin-bottom: 2.5em; }

/*-------------------------membresia.html-------------------------*/
.membresia__titulo {
  color: black;
  font-weight: 500;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.6em;
  margin-top: 0.5em;
  margin-left: 10em; }
  .membresia__titulo .membresia__texto {
    color: black;
    font-style: normal;
    font-size: xx-large;
    text-align: left;
    text-align: justify;
    text-indent: 2%;
    font-size: 1.2em;
    margin-top: 1.5em;
    margin-left: 1em;
    margin-right: 1em; }
  .membresia__titulo .membresia__img {
    margin: 1em;
    height: 20em;
    width: 20em;
    background-image: radial-gradient(#29515b, #0e345b);
    margin-bottom: 2.5em; }

/*-------------------politicadeprivacidad.html--------------------*/
.politicadeprivacidad__titulo {
  color: black;
  font-weight: 500;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 1em;
  margin-top: 1em;
  text-indent: 1.5%;
  font-size: 1.6em; }
  .politicadeprivacidad__titulo .politicadeprivacidad__texto {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 2em;
    margin-right: 1em;
    margin-bottom: 1em;
    text-indent: 1%; }

/*------------------------productos.html--------------------------*/
.productos__titulo {
  color: black;
  font-weight: 500;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.6em;
  margin-top: 0.5em;
  margin-left: 5em; }
  .productos__titulo .productos__televisores__titulo {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.4em;
    margin-top: 1em;
    margin-bottom: 0.5em; }
  .productos__titulo .productos__televisores__aviso {
    color: #1E1C1D;
    font-style: italic;
    font-size: small;
    font-weight: 500; }
  .productos__titulo .productos__televisores__img {
    background-image: radial-gradient(#29515b, #0e345b);
    height: 310px;
    width: 310px;
    margin-top: 1em; }
  .productos__titulo .productos__ordenadores__titulo {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.4em;
    margin-top: 1em;
    margin-bottom: 0.5em; }
  .productos__titulo .productos__ordenadores__aviso {
    color: #1E1C1D;
    font-style: italic;
    font-size: small; }
  .productos__titulo .productos__ordenadores__img {
    background-image: radial-gradient(#29515b, #0e345b);
    height: 310px;
    width: 310px;
    margin-top: 1em; }
  .productos__titulo .productos__moviles__titulo {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.4em;
    margin-top: 1em;
    margin-bottom: 0.5em; }
  .productos__titulo .productos__moviles__aviso {
    color: #1E1C1D;
    font-style: italic;
    font-size: small; }
  .productos__titulo .productos__moviles__img {
    background-image: radial-gradient(#29515b, #0e345b);
    height: 320px;
    width: 320px;
    margin-top: 1em;
    margin-bottom: 1em; }
  .productos__titulo .productos__consolas__titulo {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.4em;
    margin-top: 1em;
    margin-bottom: 0.5em; }
  .productos__titulo .productos__consolas__aviso {
    color: #1E1C1D;
    font-style: italic;
    font-size: small; }
  .productos__titulo .productos__consolas__img {
    background-image: radial-gradient(#29515b, #0e345b);
    height: 320px;
    width: 320px;
    margin-top: 1em;
    margin-bottom: 1em; }

/*---------------------------------------------------------RESPONSIVE--------------------------------------------------------*/
/*-------------------------TABLET------------------------*/
@media screen and (max-width: 1150px) {
  /*----------Index/nav/footer----------*/
  .hero {
    width: 100%;
    display: flex;
    margin-top: 2%; }
    .hero .hero__video {
      width: 45%;
      height: 15em; }
    .hero .hero__texto {
      width: 40%;
      text-align: left;
      margin: 0;
      margin-left: 2em; }
  .productos__membresia {
    margin-top: 1em;
    margin-left: 5%; }
  .main {
    width: 100%;
    min-height: 100vw; }
  .footer {
    width: 100%; }
  .tienda__titulo {
    display: flex;
    margin-right: 3em; }
  .productos__index__img {
    width: 100%;
    margin-top: 1em; }
  .membresia__index__img {
    width: 100%;
    margin-top: 1em; }
  /*-------------Acercade/main-------------*/
  .acercade__flexbox__responsive {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .acercade__flexbox__responsive .acercade__titulo {
      margin-left: 3em; }
    .acercade__flexbox__responsive .acercade__texto {
      margin-right: 1em; }
    .acercade__flexbox__responsive .pages__acercade__img {
      width: 30em;
      height: 30em;
      margin-top: 5em;
      margin-bottom: 6em; }
  /*-------------membresia/main-------------*/
  .membresia__flexbox__responsive {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .membresia__flexbox__responsive .membresia__titulo {
      margin-left: 3em; }
    .membresia__flexbox__responsive .membresia__texto {
      margin-right: 1em; }
    .membresia__flexbox__responsive .pages__membresia__img {
      width: 30em;
      height: 30em;
      margin-top: 5em;
      margin-bottom: 5em; }
  /*-------------Productos/main-------------*/
  .productos__titulo {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em; }
    .productos__titulo .productos__televisores__titulo {
      margin-bottom: 1em;
      margin-left: 1em; }
    .productos__titulo .productos__ordenadores__titulo {
      margin-bottom: 1em;
      margin-left: 1em; }
    .productos__titulo .productos__moviles__titulo {
      margin-bottom: 1em;
      margin-left: 1em; }
    .productos__titulo .productos__consolas__titulo {
      margin-bottom: 1em;
      margin-left: 1em; }
    .productos__titulo .productos__televisores__aviso {
      font-weight: 900;
      margin-bottom: 1em;
      margin-left: 1em; }
    .productos__titulo .productos__ordenadores__aviso {
      font-weight: 900;
      margin-bottom: 1em;
      margin-left: 1em; }
    .productos__titulo .productos__moviles__aviso {
      font-weight: 900;
      margin-bottom: 1em;
      margin-left: 1em; }
    .productos__titulo .productos__consolas__aviso {
      font-weight: 900;
      margin-bottom: 1em;
      margin-left: 1em; }
    .productos__titulo .productos__televisores__img {
      margin-bottom: 1em;
      height: 20.5em;
      width: 20.5em;
      margin-bottom: 1.5em; }
    .productos__titulo .productos__ordenadores__img {
      margin-bottom: 1em;
      height: 13em;
      width: 13em; }
    .productos__titulo .productos__moviles__img {
      margin-bottom: 1em;
      height: 13em;
      width: 13em; }
    .productos__titulo .productos__consolas__img {
      margin-bottom: 1em;
      height: 13em;
      width: 13em; } }

/*-------------------------MOVIL------------------------*/
@media screen and (max-width: 749px) {
  /*----------Index/nav/footer----------*/
  .hero {
    width: 100%;
    display: flex;
    flex-direction: column; }
    .hero .hero__titulo {
      font-size: 2em; }
    .hero .hero__texto {
      width: 75%;
      text-indent: 0%;
      text-align: start;
      text-align: center;
      font-size: 1em;
      margin-top: 0.5em; }
    .hero .hero__video {
      width: 100%;
      height: 200px; }
  .productos__membresia {
    font-size: 1.4em;
    margin-top: 0.5em; }
    .productos__membresia .productos__titulo__index {
      font-size: 1.2em;
      margin-left: 0.5em; }
    .productos__membresia .productos__ventas {
      font-size: 1em;
      margin-left: 1em; }
    .productos__membresia .productos__aviso {
      font-size: 1em; }
    .productos__membresia .membresia__titulo__index {
      font-size: 1.2em;
      margin-left: 0.5em; }
    .productos__membresia .membresia__ventas {
      font-size: 1em;
      margin-left: 1em; }
    .productos__membresia .membresia__aviso {
      font-size: 1em; }
  .navbar {
    flex-direction: column;
    width: 100%; }
  .productos__membresia {
    margin-left: 15%; }
    .productos__membresia .productos__index__img {
      height: 10em;
      width: 10em; }
    .productos__membresia .membresia__index__img {
      height: 10em;
      width: 10em; }
    .productos__membresia .productos__membresia__img {
      flex-direction: column;
      align-items: center; }
  .main {
    flex-direction: column;
    width: 100%; }
  .footer__flexbox {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1em; }
  /*----------------Acercade----------------*/
  .acercade__titulo {
    margin-left: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1.4em; }
    .acercade__titulo .acercade__texto {
      text-indent: 0%;
      text-align: left;
      font-size: 1em; }
    .acercade__titulo .acercade__img {
      height: 10em;
      width: 10em; }
  /*---------------Membresia----------------*/
  .membresia__titulo {
    font-size: 1.4em;
    margin-top: 0.5em;
    margin-left: 5em; }
    .membresia__titulo .membresia__texto {
      text-align: none;
      font-size: 1em; }
    .membresia__titulo .membresia__img {
      height: 10em;
      width: 10em; }
  /*-------------Productos/main-------------*/
  .productos__flexbox__televisoresordenadores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap; }
  .productos__flexbox__movilesconsolas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap; }
  .productos__titulo {
    font-size: 1.4em;
    margin-top: 1em;
    margin-left: 1em; }
    .productos__titulo .productos__televisores__titulo {
      font-size: 1.2em;
      margin-top: 0.5em;
      margin-left: 0.5em; }
    .productos__titulo .productos__ordenadores__titulo {
      font-size: 1.2em;
      margin-top: 0.5em;
      margin-left: 0.5em; }
    .productos__titulo .productos__moviles__titulo {
      font-size: 1.2em;
      margin-top: 0.5em;
      margin-left: 0.5em; }
    .productos__titulo .productos__consolas__titulo {
      font-size: 1.2em;
      margin-top: 0.5em;
      margin-left: 0.5em; }
    .productos__titulo .productos__televisores__aviso {
      margin-left: 0;
      margin-bottom: 0.5em; }
    .productos__titulo .productos__ordenadores__aviso {
      margin-left: 0; }
    .productos__titulo .productos__moviles__aviso {
      margin-left: 0; }
    .productos__titulo .productos__consolas__aviso {
      margin-left: 0; }
    .productos__titulo .productos__televisores__img {
      width: 10em;
      height: 10em; }
    .productos__titulo .productos__ordenadores__img {
      margin-top: 0.5em;
      width: 7.5em;
      height: 7.5em; }
    .productos__titulo .productos__moviles__img {
      margin-top: 0.5em;
      width: 7.5em;
      height: 7.5em; }
    .productos__titulo .productos__consolas__img {
      margin-top: 0.5em;
      width: 7.5em;
      height: 7.5em; }
  /*-------------Politicadeprivacidad/main-------------*/
  .politicadeprivacidad__titulo {
    margin: 1em; }
    .politicadeprivacidad__titulo .politicadeprivacidad__texto {
      text-align: none;
      margin-left: 0.5em;
      margin-right: 0.5em; } }

/*------------------------------PSEUDOCLASES------------------------------*/
/*----------------------scroll----------------------*/
body::-webkit-scrollbar {
  width: 0.5em;
  background: #0f1011; }

body::-webkit-scrollbar-thumb {
  background-image: radial-gradient(#1d1b2f, #0e5569);
  border-radius: 4em; }

/*-----------------Header-----------------*/
.header__titulo:hover {
  transform: scale(1.1);
  transition: 1s; }

.header__lista:hover {
  transform: scale(1.1); }

/*------------------Main------------------*/
.main__img:hover {
  transform: scale(1.1);
  border-radius: 1em;
  transition: 3s;
  transition-timing-function: ease-in; }

/*-----------------Footer-----------------*/
.footer__lista__hover:hover {
  transform: scale(1.1);
  color: white; }

.footer__copyright__hover:hover {
  transform: scale(1.1); }
