.footer{
    background-color: #18181B;
    padding: 1em;
    .footer__titulo{
        color: whitesmoke;
        margin-left: 1em; }
        .footer__titulo__redes{
            color: whitesmoke;
            margin-left: 0.5em; }
            .footer__img{
                margin-left: 0.7em; }
                .footer__texto{
                    color: white }
                        .footer__lista__enlace{
                            color:white;}
                            .footer__copyright{
                                color:whitesmoke;
                                background: rgba(0, 0, 0, 0.2); 
    }
}