.footer{
    background-color: #18181B;
    padding: 1em;
    &__titulo{
        color: whitesmoke;
        margin-left: 1em; }
        &__titulo__redes{
            color: whitesmoke;
            margin-left: 0.5em; }
            &__img{
                margin-left: 0.7em; }
                &__texto{
                    color: white }
                        &__lista__enlace{
                            color:white;}
                            &__copyright{
                                color:whitesmoke;
                                background: rgba(0, 0, 0, 0.2); 
    }
}