@import "./base/mixins";
/*------------------------grid__flexbox__layout--------------------------*/
.header{
    grid-area:auto;
    &__lista__flexbox{
        display:flex;
        justify-content: end;}
}

.main{
    grid-area:auto;
    background-color: #3F79C4;
}

.productos__membresia__img{
    @include flex (flex, space-evenly, center);
    margin: 20px; 
}

.footer{
    grid-area:auto;
    &__flexbox{
        display:flex;
        justify-content: space-around; }
        &__copyright__flexbox{
            display:flex;
            justify-content:center;}
}
/*--------------acercade__pages---------------*/

.acercade__flexbox{
    @extend %flex-center;
}

/*--------------membresia__pages---------------*/

.pages__membresia__flexbox{
    @extend %flex-center;
}
/*--------------productos__pages---------------*/

.productos__flexbox__televisoresordenadores{
    @extend %flex-productos;
}

.productos__flexbox__movilesconsolas{
    @extend %flex-productos;
}

/*--------------contacto_pages---------------*/

.contacto__flexbox{
    display:flex;
    align-items:center;
    justify-content:center;
    
}

/*----------------------------------------GRID__CONTAINER-------------------------------------*/
.grid__container{
    display:grid;
    grid-template-areas:
        "header"
        "navbar"
        "main"
        "footer";
}