//*MAPS
/*--------------------------------------------MAIN-------------------------------------------*/
/*-------------------------index.html--------------------------*/
$productos__index__img:(
    bg-img: radial-gradient(#29515b, #0e345b),
    m: 10px,
    mb: 2.3em,
);
