//*MAPS
/*--------------------------------------------MAIN-------------------------------------------*/
/*-------------------------index.html--------------------------*/
$productos__index__img:(
    m: 10px,
    mb: 2.3em,
    w: 15em,
    h: 15em,
);
