/*---------------------------------------------------------RESPONSIVE--------------------------------------------------------*/

/*-------------------------TABLET------------------------*/

@media screen and (max-width:1150px){

/*----------Index/nav/footer----------*/
.hero{
    display:flex;
    margin-top: 2%;
    &__video{
        width: 45%;
        height: 15em;}
        &__texto{
            width:40%;
            text-align: justify;
            text-indent: 0.5em;
            margin:0;
            margin-left: 3.2em;
            margin-top:1em;}
    }

.productos__membresia{
    margin-top: 1em;}

.main{
    width:100%;
    min-height: 100vw}

.footer{
    width:100%;}

.tienda__titulo{
    display:flex;
    margin-right: 3em}
    
.productos__index__img{
    width: 15em;
    height: 15em;
    margin-top: 1em;}
    
.membresia__index__img{
    width: 15em;
    height: 15em;
    margin-top: 1em;}

/*-------------Acercade/main-------------*/
.acercade__flexbox{
    display:flex;
    flex-direction: column;
    align-items: center;}
    
.acercade__titulo{
    margin-top:2.5em;}
        
.acercade__texto{
    margin:2em;}

.acercade__img{
    margin-top:2em;
    margin-bottom:5em;
    width: 35em;
    height:35em;}
/*-------------membresia/main-------------*/
.pages__membresia__flexbox{
    display:flex;
    flex-direction: column;
    align-items: center;}

.membresia__titulo{
    margin-top:2.5em;}

.membresia__texto{
    margin:2em;}

.membresia__img{
    margin-top:1em;
    margin-top:2em;
    margin-bottom:5em;
    width: 35em;
    height:35em;}

/*-------------politicadeprivacidad/main-------------*/
.politicadeprivacidad__titulo{
    margin-left:0.7em;
}

}
/*-------------------------MOVIL------------------------*/
    
@media screen and (max-width:766px){  
    
/*----------Index/nav/footer----------*/
.hero{
    width: 100%;
    display:flex;
    flex-direction: column;
    &__titulo{
        font-size: 2em;}
        &__texto{
            width:75%;
            text-indent: 0.5em;
            text-align:justify;
            font-size: 1em;
            margin-top: 1em;}
            &__video{
                width:100%;
                height: 200px;}
}   

.productos__membresia{
    font-size: 1.4em;
    margin-top: 1em;}

.productos__titulo__index{
    font-size: 1.2em;
    margin-left: 0.5em;}
.productos__ventas{
    font-size: 1em;
    margin-left:1em;}
.productos__aviso{
    font-size:1em;}
.productos__index__img{
    height: 15em;
    width: 15em;}

.membresia__titulo__index{
    font-size: 1.2em;
    margin-left: 0.5em;}
.membresia__ventas{
    font-size: 1em;
    margin-left:1em;}
.membresia__aviso{
    font-size: 1em;}
.membresia__index__img{
    height: 15em;
    width: 15em;}

.footer__flexbox__mobile{
    display:flex;
    flex-direction: column;}

.footer__flexbox{
    display:flex;
    padding-left: 3.5em;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 1em;
    margin-bottom: 1em;}
/*----------------Acercade----------------*/ 
.acercade__titulo{
    font-size: 1.4em;
    margin-bottom:0}

.acercade__texto{
    text-align: none;
    font-size:1em;
    margin-right:1em;
    margin-left:1em;}

.acercade__img{
    width:15em;
    height:15em;
    margin-top:0;}
/*---------------Membresia----------------*/
.membresia__titulo{
    font-size: 1.4em;
    margin-top:2em;
    margin-bottom:0}

.membresia__texto{
    text-align: none;
    font-size:1em;
    margin-right:1em;
    margin-left:1em;}

.membresia__img{
    width:15em;
    height:15em;
    margin-top:0;}
/*-------------Productos/main-------------*/
.productos__flexbox__televisoresordenadores{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;}
    
.productos__flexbox__movilesconsolas{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;}

.productos__titulo{
    font-size:1.4em;
    margin-top: 1em;
    margin-right:1em;
    margin-left:1em;}

.productos__televisores__titulo{
    font-size: 1.2em;
    margin-top: 0.5em;
    margin-left: 0.5em;}
.productos__ordenadores__titulo{
    font-size: 1.2em;
    margin-top: 0.5em;
    margin-left: 0.5em;}
.productos__moviles__titulo{
    font-size: 1.2em;
    margin-top: 0.5em;
    margin-left: 0.5em;}
.productos__tablets__titulo{
    font-size: 1.2em;
    margin-top: 0.5em;
    margin-left: 0.5em;}

.productos__televisores__aviso{
    margin-left: 0;
    margin-bottom: 0.5em;}
.productos__ordenadores__aviso{
    margin-left: 0;}
.productos__moviles__aviso{
    margin-left: 0;}
.productos__tablets__aviso{
    margin-left: 0;}

.productos__televisores__img{
    width: 15em;
    height: 15em;}
.productos__ordenadores__img{
    margin-top: 0.5em;
    width: 15em;
    height: 15em;}
.productos__moviles__img{
    margin-top: 0.5em;
    width: 15em;
    height: 15em}
.productos__tablets__img{
    margin-top: 0.5em;
    width: 15em;
    height: 15em}
/*-------------Politicadeprivacidad/main-------------*/
.politicadeprivacidad__titulo{
    margin: 1em;
    margin-left:1em;
    text-indent: 0%;
    .politicadeprivacidad__texto{
        text-align: none;
        margin-left:0.5em;
        margin-right:0.5em;}
    }

/*---------------------Contacto---------------------*/
.contacto__flexbox{
    flex-direction:column;
}

}