/*---------------------------------------------------------RESPONSIVE--------------------------------------------------------*/

/*-------------------------TABLET------------------------*/

@media screen and (max-width:1150px){

/*----------Index/nav/footer----------*/
.hero{
    width:100%;
    display:flex;
    margin-top: 2%;
    .hero__video{
        width: 45%;
        height: 15em;}
        .hero__texto{
            width:40%;
            text-align: left;
            margin:0;
            margin-left: 2em;}
    }

.productos__membresia{
    margin-top: 1em;
    margin-left: 5%;}

.main{
    width:100%;
    min-height: 100vw}

.footer{
    width:100%;}

.tienda__titulo{
    display:flex;
    margin-right: 3em}
    
.productos__index__img{
    width:100%;
    margin-top: 1em;}
    
.membresia__index__img{
    width:100%;
    margin-top: 1em;}

/*-------------Acercade/main-------------*/
.acercade__flexbox__responsive{
    display:flex;
    flex-direction: column;
    align-items: center;
    .acercade__titulo{
        margin-left:3em;}
        .acercade__texto{
            margin-right: 1em;}
            .pages__acercade__img{
                width: 30em;
                height: 30em;
                margin-top: 5em;
                margin-bottom: 6em;}
    }
/*-------------membresia/main-------------*/
.membresia__flexbox__responsive{
    display:flex;
    flex-direction: column;
    align-items: center;
    .membresia__titulo{
        margin-left: 3em;}
        .membresia__texto{
            margin-right: 1em;}
            .pages__membresia__img{
                width: 30em;
                height: 30em;
                margin-top: 5em;
                margin-bottom: 5em;}
    }
/*-------------Productos/main-------------*/
.productos__titulo{
    margin-top:1em;
    margin-bottom:1em;
    margin-left: 1em;

    .productos__televisores__titulo{
        margin-bottom: 1em;
        margin-left: 1em;}
        .productos__ordenadores__titulo{
            margin-bottom: 1em;
            margin-left: 1em;}
            .productos__moviles__titulo{
                margin-bottom: 1em;
                margin-left: 1em;}
                .productos__consolas__titulo{
                    margin-bottom: 1em;
                    margin-left: 1em;}
    
    .productos__televisores__aviso{
        font-weight: 900;
        margin-bottom: 1em;
        margin-left: 1em;}
        .productos__ordenadores__aviso{
            font-weight: 900;
            margin-bottom: 1em;
            margin-left: 1em;}
            .productos__moviles__aviso{
                font-weight: 900;
                margin-bottom: 1em;
                margin-left: 1em;}
                .productos__consolas__aviso{
                    font-weight: 900;
                    margin-bottom: 1em;
                    margin-left: 1em;}
    
    .productos__televisores__img{
        margin-bottom: 1em;
        height:20.5em;
        width:20.5em;
        margin-bottom: 1.5em;}
        .productos__ordenadores__img{
            margin-bottom:1em;
            height:13em;
            width:13em;}
            .productos__moviles__img{
                margin-bottom: 1em;
                height:13em;
                width:13em;}
                .productos__consolas__img{
                    margin-bottom: 1em;
                    height:13em;
                    width:13em;}
    }

}
/*-------------------------MOVIL------------------------*/
    
@media screen and (max-width:749px){  
    
/*----------Index/nav/footer----------*/
.hero{
    width: 100%;
    display:flex;
    flex-direction: column;
    .hero__titulo{
        font-size: 2em;}
        .hero__texto{
            width:75%;
            text-indent: 0%;
            text-align:start;
            text-align:center;
            font-size: 1em;
            margin-top: 0.5em;}
            .hero__video{
                width:100%;
                height: 200px;}
    }
    
.productos__membresia{
    font-size: 1.4em;
    margin-top: 0.5em;

    .productos__titulo__index{
        font-size: 1.2em;
        margin-left: 0.5em;}
        .productos__ventas{
            font-size: 1em;
            margin-left:1em;}
            .productos__aviso{
                font-size:1em;}
        
    .membresia__titulo__index{
        font-size: 1.2em;
        margin-left: 0.5em;}
        .membresia__ventas{
            font-size: 1em;
            margin-left:1em;}
            .membresia__aviso{
                font-size: 1em;}
    }

.navbar{
    flex-direction: column;
    width:100%;}   
    
.productos__membresia{
    margin-left:15%;
    .productos__index__img{
        height: 10em;
        width: 10em;}
    .membresia__index__img{
        height: 10em;
        width: 10em;}
        .productos__membresia__img{
            flex-direction: column;
            align-items: center;}
    }
    
.main{
    flex-direction: column;
    width:100%;}
    
.footer__flexbox{
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1em;}
/*----------------Acercade----------------*/ 
.acercade__titulo{
    margin-left: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1.4em;
    .acercade__texto{
        text-indent:0%;
        text-align: left;
        font-size: 1em;}
        .acercade__img{
            height: 10em;
            width: 10em;}
    }
/*---------------Membresia----------------*/
.membresia__titulo{
    font-size: 1.4em;
    margin-top:0.5em;
    margin-left:5em;
    .membresia__texto{
        text-align: none;
        font-size:1em;}
        .membresia__img{
            height: 10em;
            width: 10em;}
    }
/*-------------Productos/main-------------*/
.productos__flexbox__televisoresordenadores{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;}
    
.productos__flexbox__movilesconsolas{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;}

.productos__titulo{
    font-size:1.4em;
    margin-top: 1em;
    margin-left: 1em;   

        .productos__televisores__titulo{
            font-size: 1.2em;
            margin-top: 0.5em;
            margin-left: 0.5em;}
            .productos__ordenadores__titulo{
                font-size: 1.2em;
                margin-top: 0.5em;
                margin-left: 0.5em;}
                .productos__moviles__titulo{
                    font-size: 1.2em;
                    margin-top: 0.5em;
                    margin-left: 0.5em;}
                    .productos__consolas__titulo{
                        font-size: 1.2em;
                        margin-top: 0.5em;
                        margin-left: 0.5em;}
    
        .productos__televisores__aviso{
            margin-left: 0;
            margin-bottom: 0.5em;}
            .productos__ordenadores__aviso{
                margin-left: 0;}
                .productos__moviles__aviso{
                    margin-left: 0;}
                    .productos__consolas__aviso{
                        margin-left: 0;}
    
        .productos__televisores__img{
            width: 10em;
            height: 10em;}
            .productos__ordenadores__img{
                margin-top: 0.5em;
                width: 7.5em;
                height: 7.5em;}
                .productos__moviles__img{
                    margin-top: 0.5em;
                    width: 7.5em;
                    height: 7.5em;}
                    .productos__consolas__img{
                        margin-top: 0.5em;
                        width: 7.5em;
                        height: 7.5em;}
    }
/*-------------Politicadeprivacidad/main-------------*/
.politicadeprivacidad__titulo{
    margin: 1em;    
    .politicadeprivacidad__texto{
        text-align: none;
        margin-left:0.5em;
        margin-right:0.5em;}
    }
}