/*---------------------------------------------------------RESPONSIVE--------------------------------------------------------*/

/*-------------------------TABLET------------------------*/

@media screen and (max-width:1150px){

/*----------Index/nav/footer----------*/
.hero{
    display:flex;
    margin-top: 2%;
    &__video{
        width: 45%;
        height: 15em;}
        &__texto{
            width:40%;
            text-align: left;
            margin:0;
            margin-left: 2em;}
    }

.productos__membresia{
    margin-top: 1em;
    margin-left: 5%;}

.main{
    width:100%;
    min-height: 100vw}

.footer{
    width:100%;}

.tienda__titulo{
    display:flex;
    margin-right: 3em}
    
.productos__index__img{
    width:100%;
    margin-top: 1em;}
    
.membresia__index__img{
    width:100%;
    margin-top: 1em;}

/*-------------Acercade/main-------------*/
.acercade__flexbox__responsive{
    display:flex;
    flex-direction: column;
    align-items: center;
    &__titulo{
        margin-left:3em;}
        &__texto{
            margin-right: 1em;}
}
/*-------------membresia/main-------------*/
.membresia__flexbox__responsive{
    display:flex;
    flex-direction: column;
    align-items: center;
    &__titulo{
        margin-left: 3em;}
        &__texto{
            margin-right: 1em;}
    }
}
/*-------------------------MOVIL------------------------*/
    
@media screen and (max-width:749px){  
    
/*----------Index/nav/footer----------*/
.hero{
    width: 100%;
    display:flex;
    flex-direction: column;
    &__titulo{
        font-size: 2em;}
        &__texto{
            width:75%;
            text-indent: 0%;
            text-align:start;
            text-align:center;
            font-size: 1em;
            margin-top: 0.5em;}
            &__video{
                width:100%;
                height: 200px;}
}   

.footer__flexbox__mobile{
    display:flex;
    flex-direction: column;}

.productos__membresia{
    font-size: 1.4em;
    margin-top: 0.5em;}

.productos__titulo__index{
    font-size: 1.2em;
    margin-left: 0.5em;}
.productos__ventas{
    font-size: 1em;
    margin-left:1em;}
.productos__aviso{
    font-size:1em;}
.productos__index__img{
    height: 10em;
    width: 10em;}

.membresia__titulo__index{
    font-size: 1.2em;
    margin-left: 0.5em;}
.membresia__ventas{
    font-size: 1em;
    margin-left:1em;}
.membresia__aviso{
    font-size: 1em;}
.membresia__index__img{
    height: 10em;
    width: 10em;}

.footer__flexbox{
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1em;}
/*----------------Acercade----------------*/ 
.acercade__titulo{
    margin-left: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1.4em;}

.acercade__texto{
    text-indent:0%;
    text-align: left;
    font-size: 1em;}

.acercade__img{
    width:20em;
    height:20em;}
/*---------------Membresia----------------*/
.membresia__titulo{
    font-size: 1.4em;
    margin-top:0.5em;
    margin-left:5em;}

.membresia__texto{
    text-align: none;
    font-size:1em;}

.membresia__img{
    width:20em;
    height:20em;}
/*-------------Productos/main-------------*/
.productos__flexbox__televisoresordenadores{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;}
    
.productos__flexbox__movilesconsolas{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;}

.productos__titulo{
    font-size:1.4em;
    margin-top: 1em;
    margin-left: 1em;}

.productos__televisores__titulo{
    font-size: 1.2em;
    margin-top: 0.5em;
    margin-left: 0.5em;}
.productos__ordenadores__titulo{
    font-size: 1.2em;
    margin-top: 0.5em;
    margin-left: 0.5em;}
.productos__moviles__titulo{
    font-size: 1.2em;
    margin-top: 0.5em;
    margin-left: 0.5em;}
.productos__consolas__titulo{
    font-size: 1.2em;
    margin-top: 0.5em;
    margin-left: 0.5em;}

.productos__televisores__aviso{
    margin-left: 0;
    margin-bottom: 0.5em;}
.productos__ordenadores__aviso{
    margin-left: 0;}
.productos__moviles__aviso{
    margin-left: 0;}
.productos__consolas__aviso{
    margin-left: 0;}

.productos__televisores__img{
    width: 10em;
    height: 10em;}
.productos__ordenadores__img{
    margin-top: 0.5em;
    width: 7.5em;
    height: 7.5em;}
.productos__moviles__img{
    margin-top: 0.5em;
    width: 7.5em;
    height: 7.5em;}
.productos__consolas__img{
    margin-top: 0.5em;
    width: 7.5em;
    height: 7.5em;}
/*-------------Politicadeprivacidad/main-------------*/
.politicadeprivacidad__titulo{
    margin: 1em;
    .politicadeprivacidad__texto{
        text-align: none;
        margin-left:0.5em;
        margin-right:0.5em;}
    }
}